{
  "presets": ["next/babel"],
  "plugins": [
    [
      "git-version",
      {
        "showDirty": true,
        "commitLength": 7,
        "tagCommitLength": 7
      }
    ],
    ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-postcss"] }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Toads": "./"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-lodash",
        [
          "git-version",
          {
            "showDirty": true,
            "commitLength": 7,
            "tagCommitLength": 7
          }
        ],
        ["styled-jsx/babel", { "plugins": ["styled-jsx-plugin-postcss"] }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "Toads": "./"
            }
          }
        ],
        "transform-remove-console",
        "transform-react-constant-elements"
      ]
    }
  }
}
